<main class="md-padding layout-row flex" layout="row" layout-align="center" style="max-width: 978px; margin: 0 auto"flex="">

  <md-whiteframe class="md-whiteframe-z1" layout="column" layout-padding>
<div layout="column" layout-align="center center">
	<div flex="" style="margin:10px;" class="flex">
		<h3 layout="row" layout-align="center">Diversify was created to help fight discrimination stereotypes and ignorance in the best way possible...friendship.</h3>
		<p class="text-center">
		<ul>
			<li>Here you can meet new friends completely different from what you are used to.</li>
			<li>Explore new cultures and make new friends</li>
			<li>Be curious and open</li>
			<li>Find an understanding of other people that you never thought possible</li>
			<li>Diversify takes wonderful people and makes them expand their horizons</li>
		</ul>
		</p>


	</div>
	<h3>How the site works!</h3>
</div>
<div layout="row" layout-xs="column"  class=" layout-row">
	<div flex="" style="margin:10px;" class="flex">
		<p class="text-center">
		<ul>
			<li>After registering with us you will complete a short demographics and interests questionnaire</li>
			<li>Twice a month you will be match with another user who have similar interests but different demographics!</li>
			<li>Your match will be your new friend for the next two weeks. You can talk as much or as little as you want.</li>
			<li>Talk about your similarities or your differences, its your choice</li>
			<li>Cant think of anything to say (to a complete and total stranger)? No judgment, we have trouble with that too. So we fixed it for you. Feel free to use our topic or question generator to get the conversation going. If you get stuck you can get as many topics as you like!</li>
			<li>Did you and your match become best friends and your time is coming to an end? Not to worry all of your past matches will be available to you to continue growing your friendship.</li>
		</ul>
		</p>
	</div>
</div>

  <md-content md-theme="docs-dark" style="text-align: center">
    <h3>Monique Williamson</h3>
    <p>A former Marriage and Family Therapist she has spent her life fascinated with learning.
      She graduated from Ohio University and University of Nebraska-Lincoln. Monique enjoys traveling and discovering new cultures. Other than finishing her bucket list she loves to eat cook and read. Monique was previously a marriage and family therapist she has a passion for understanding human behavior and patterns. </p>
      <h3>Kevin Huang</h3>
      <p>Before becoming a software engineer, Kevin worked on labor, Internet, and privacy policy internationally. As a campaign manager for Fight for the Future, he worked on campaigns and websites that handled over 4 million active participants. Kevin used his eye for detail to optimize UX for greater engagement with users with A/B tests. Using his expertise in privacy issues, he also handled marketing for ProtonMail, an end-to-end encrypted email startup.
          Kevin is passionate about learning about new technologies to build meaningful applications with elegant user interfaces.
      <h3>Jordan Fox</h3>
      <p>He is a passionate new web-developer who has thrown himself into a new career after several years in the wine industry.  Specializing in back-end development and algorithms, Jordan is the mastermind behind the matching functionality of our site.  Graduating from DevBootcamp, he is excited to dive into an actual paying job where he can make his skills, and your website, shine.  On a personal level, Jordan attended U.C. Santa Barbara and currently resides in Northern California wine country but is looking to relocate.</p>
      <h3>Albert Hahn</h3>
      <p> Previously a logistics manager, mortgage processor, and a professional gamer, Albert thrives when working in teams. He grew up in Southern California, which has allowed him to learn so much about different cultures and diversity all in one small part of the world. Some things he's passionate about are technology, cultural food, gaming, sports, and music.</p>
  </md-content>

</main>
