<h1>Monique Williamson</h1>
<p>A former Marriage and Family Therapist she has spent her life fascinated with learning.
She graduated from Ohio University and University of Nebraska-Lincoln. Originally from Dayton, Ohio Monique enjoys traveling and discovering new cultures. Other than finishing her bucket list she loves to eat, cook and read.  </p>
<h1>Kevin Huang</h1>
<h1>Jordan Fox</h1>
<p>He is a passionate new web-developer who has embarked on a new career after several years in the wine industry.  Specializing in back-end development and algorithms, Jordan took the lead on the matching functionality of our site.  He graduated from DevBootcamp where he greatly enjoyed the challenge and culture of the coding world.  Jordan likes playing piano, gaming, trying new things, and learning about new cultures and the differing perspectives they have.  He attended U.C. Santa Barbara and currently resides in Northern California wine country but is looking to relocate.</p>
<h1>Albert Hahn</h1>
