<main class="md-padding layout-row flex" layout="row" layout-align="center" style="max-width: 978px; margin: 0 auto"flex="">

  <md-whiteframe class="md-whiteframe-z1" layout="column" layout-padding>

  <md-content md-theme="docs-dark" style="text-align: center">
    <h2>Monique Williamson</h2>
    <p>A former Marriage and Family Therapist she has spent her life fascinated with learning.
      She graduated from Ohio University and University of Nebraska-Lincoln. Originally from Dayton, Ohio Monique enjoys traveling and discovering new cultures. Other than finishing her bucket list she loves to eat cook and read.  </p>
      <h2>Kevin Huang</h2>
      <h2>Jordan Fox</h2>
      <p>He is a passionate new web-developer who has thrown himself into a new career after several years in the wine industry.  Specializing in back-end development and algorithms, Jordan is the mastermind behind the matching functionality of our site.  Graduating from DevBootcamp, he is excited to dive into an actual paying job where he can make his skills, and your website, shine.  On a personal level, Jordan attended U.C. Santa Barbara and currently resides in Northern California wine country but is looking to relocate.</p>
      <h2>Albert Hahn</h2>
      <p> Previously a logistics manager, mortgage processor, and a professional gamer, Albert thrives when working in teams. He grew up in Southern California, which has allowed him to learn so much about different cultures and diversity all in one small part of the world. Some things he's passionate about are technology, cultural food, gaming, sports, and music.</p>
  </md-content>

</main>
