<main class="md-padding layout-row flex" layout="row" layout-align="center" style="max-width: 978px; margin: 0 auto"flex="">

<md-content layout="row">
<md-card>
<md-card-header>
{{currentUserName}}
</md-card-header>
<md-list>
  <md-list-item ng-repeat="interest in senderInterests track by $index">
    {{interest}}<md-divider>
  </md-list-item>
</md-list>
</md-card>
<md-card>
<md-card-header>
Your common interests
</md-card-header>
<md-list>
  <md-list-item ng-repeat="interest in commonInterests track by $index">
    {{interest}}
    <md-divider
  </md-list-item>
</md-list>
</md-card>
<md-card>
<md-card-header>
{{recipientName}}
</md-card-header>
<md-list>
  <md-list-item ng-repeat="interest in recipientInterests track by $index">
    {{interest}}
    <md-divider>
  </md-list-item>
</md-list>
</md-card>
</md-content>
</main>
