<main class="md-padding layout-row flex profile" layout="row" layout-align="center" style="max-width: 978px; margin: 0 auto"flex="">
<img ng-src="{{profile_pic.url}}" class="md-avatar"/>
<md-content class='profile-demos'>
<strong> {{user.first_name}} {{user.last_name}} </strong>
<br>
{{user.demographic.age}}
<br>
{{user.country.name}}
<br>
{{user.sex_or.name}}
<br>
{{user.religion.name}}
<br>
{{user.gender.name}}
<br>
{{user.race.name}}
<br>
{{user.ses.name}}
<br>
<br>

<a ui-sref="demographics"><md-button class="md-raised" flex="auto" style="background-color: #6699ff; color: white;">Edit Profile</md-button></a>

</md-content>

<md-card class="interests">
  <md-card-header>
    <strong> My interests </strong>
  </md-card-header>

  <md-list>
    <md-list-item ng-repeat="interest in user.interests">
    {{interest.name}}<md-divider>
  </md-list-item>

  </md-list>
<a ui-sref="interests"><md-button class="md-raised" flex="auto" style="background-color: #6699ff; color: white;">Add Interests</md-button></a>
<md-switch ng-model="data.cb2" aria-label="Switch 2" ng-true-value="'Inactive'" ng-false-value="'Active'" class="md-warn active-button">
  Deactivate Account: {{ data.cb2 }}
</md-switch>
  </md-card>

</main>

