<div layout="row" layout-padding class="bg-dark-blue nav-dark"
  layout-align="space-between center" style="max-width: 978px; margin: 0 auto"
  ng-controller="HeaderCtrl">
  <div>
    <a ui-sref="home" ng-hide="loggedOut()"><md-button class="md raised" style="background-color: #6699ff; color: white;">Home</md-button></a>
    <a ui-sref="matches" ng-hide="loggedOut()"><md-button class="md raised" style="background-color: #993399; color: white;">Matches</md-button></a>
    <a ui-sref="news" ng-hide="loggedOut()"><md-button class="md raised" style="background-color: #009933; color: white;">Culture</md-button></a>
    <md-menu>
    <md-button md-menu-origin ng-click="$mdOpenMenu()" style="background-color: #999999; color: white;">Help</md-button>
    <md-menu-content width="2">
    <md-menu-item>
    <a ui-sref="help"><md-button>Help</md-button></a>
    </md-menu-item>
    <md-menu-item>
    <a ui-sref="about"><md-button>About</md-button></a>
    </md-menu-item>
    </md-menu-content>
    </md-menu>
  </div>
  <div class="nav-buttons" >
    <a ui-sref="login" ng-show="loggedOut()"><md-button class="md-raised md-primary">Log In</md-button></a>
    <a ui-sref="registration" ng-show="loggedOut()"><md-button class="md-raised md-primary">Register</md-button></a>
    <a ui-sref="profile" ng-hide="loggedOut()"><md-button class="md-raised md-accent">My profile</md-button></a>
    <a ui-sref="logout" ng-hide="loggedOut()"><md-button class="md-raised md-warn">Log Out</md-button></a>
  </div>
</div>
