<main class="md-padding layout-row flex" layout="row" style="max-width: 978px; margin: 0 auto"flex="">
  <md-content flex id="content" class="flex">
<div class="section-header">
<h1>Welcome to Diversify!</h1>
</div>
<div layout="row"  class=" layout-row">
        <div flex="" style="margin:10px;" class="flex">
            <p class="text-center">
              <ul>
                <li>Here you can meet new friends completely different from what you are used to.</li>
                <li>Explore new cultures and make new friends</li>
                <li>Be curious and open</li>
                <li>Find an understanding of other people that yo u never thought possible</li>
                <li>Diversify takes wonderful people and makes them expand their horizons</li>
              </ul>
            </p>
        </div>
<h1>How the site works!</h1>
</div>
<div layout="row"  class=" layout-row">
        <div flex="" style="margin:10px;" class="flex">
            <p class="text-center">
              <ul>
                <li>After registering with us you will complete a short demographics and interests questionnaire</li>
                <li>Twice a month you will be match with another user who have similar interests but different demographics!</li>
                <li>Your match will be your new friend for the next two weeks. You can talk as much or as little as you want.</li>
                <li>Talk about your similarities or your differences, its your choice</li>
                <li>Cant think of anything to say (to a complete and total stranger)? No judgment, we have trouble with that too. So we fixed it for you. Feel free to use our topic or question generator to get the conversation going. If you get stuck you can get as many topics as you like!</li>
                <li>Did you and your match become best friends and your time is coming to an end? Not to worry all of your past matches will be available to you to continue growing your friendship.</li>
              </ul>
            </p>
        </div>
        <div flex="" style="margin:10px;" class="flex">
<img src="http://image.slidesharecdn.com/phone-mockup-140520090827-phpapp02/95/phone-mockup-1-638.jpg?cb=1400577076">
        </div>
    </div>
</md-content>
</main>
