<main class="md-padding layout-row flex" layout="row" layout-align="center" style="max-width: 978px; margin: 0 auto"flex="">
  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">This Election Is 1968 All Over Again, And That's Not A Good Thing</span>
            <span class="md-subhead">Howard Fineman</span>
          </md-card-title-text>
        </md-card-title>
            <md-card-title-media>
            <div class="md-media-xl card-media">
              <img src="http://img.huffingtonpost.com/asset/scalefit_630_noupscale/56e603ee1500002a000b1d32.jpeg" alt="huffingtonpost"/>
            </div>
            </md-card-title-media>
        <card-actions layout="row" layout-align="end center">
        <button class="md-icon-button" class="md-raised" flex="auto"><a href='http://www.huffingtonpost.com/entry/1968-2016-election-parallels_us_56e5fb49e4b0b25c91824dce'>Read Article</button></a>
        </card-actions>
      </md-card>
  </md-content>


    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">New Documentary Uncovers The Open Secret of China's LGBT Community: Sham Marriages</span>
            <span class="md-subhead">Keay Nigel</span>
          </md-card-title-text>
        </md-card-title>
            <md-card-title-media>
            <div class="md-media-xl card-media">
              <img src="http://images.huffingtonpost.com/2016-03-11-1457712669-6140289-ScreenShot20160312at12.08.46AM-thumb.png" alt="huffingtonpost"/>
            </div>
            </md-card-title-media>
        <card-actions layout="row" layout-align="end center">
        <button class="md-icon-button" class="md-raised" flex="auto"><a href='http://www.huffingtonpost.com/keay-nigel/china-lgbt-community-sham-marriages_b_9439016.html?utm_hp_ref=queer-voices'>Read Article</button></a>
        </card-actions>
      </md-card>


</main>

