md-card {
  padding: 1em;
  margin:0 30px 25px 30px;
}

.carddemoBasicUsage .card-media {
  background-color: #999999; }

body {
  background-image: url(http://forum.lws-hosting.com/styles/BBOOTS/theme/bootstrap/pattern/background.jpg);
}

.md-avatar {
  width: 100px;
  height: 100px;
}

.profile {
  position: relative;
}

.active-button {
  position: absolute;
  bottom: -17px;
  left: 150px;
}

.interests {
  position: relative;
}

.profile-demos {
  height: 250px;
  width: 200px;
  text-align: center;
}
