md-card {
  padding: 1em;
  margin:0 30px 25px 30px;
}

.carddemoBasicUsage .card-media {
  background-color: #999999; }

body {
  background-image: url(http://forum.lws-hosting.com/styles/BBOOTS/theme/bootstrap/pattern/background.jpg);
}
