<main class="md-padding layout-row flex" layout="row" layout-align="center" style="max-width: 978px; margin: 0 auto"flex="">
  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">This Election Is 1968 All Over Again, And That's Not A Good Thing</span>
            <span class="md-subhead">Howard Fineman</span>
          </md-card-title-text>
        </md-card-title>
            <md-card-title-media>
            <div class="md-media-xl card-media">
              <img src="http://img.huffingtonpost.com/asset/scalefit_630_noupscale/56e603ee1500002a000b1d32.jpeg" alt="huffingtonpost"/>
            </div>
            </md-card-title-media>
        <card-actions layout="row" layout-align="end center">
        <button class="md-icon-button" class="md-raised" flex="auto"><a href='http://www.huffingtonpost.com/entry/1968-2016-election-parallels_us_56e5fb49e4b0b25c91824dce'>Read Article</button></a>
        </card-actions>
      </md-card>
  </md-content>


    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">New Documentary Uncovers The Open Secret of China's LGBT Community: Sham Marriages</span>
            <span class="md-subhead">Keay Nigel</span>
          </md-card-title-text>
        </md-card-title>
            <md-card-title-media>
            <div class="md-media-xl card-media">
              <img src="http://images.huffingtonpost.com/2016-03-11-1457712669-6140289-ScreenShot20160312at12.08.46AM-thumb.png" alt="huffingtonpost"/>
            </div>
            </md-card-title-media>
        <card-actions layout="row" layout-align="end center">
        <button class="md-icon-button" class="md-raised" flex="auto"><a href='http://www.huffingtonpost.com/keay-nigel/china-lgbt-community-sham-marriages_b_9439016.html?utm_hp_ref=queer-voices'>Read Article</button></a>
        </card-actions>
      </md-card>

    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Merrick Garland declared Obama's Supreme Court nominee</span>
            <span class="md-subhead"></span>
          </md-card-title-text>
        </md-card-title>
            <md-card-title-media>
            <div class="md-media-xl card-media">
              <img src="http://media.npr.org/assets/img/2016/03/16/gettyimages-515909568_custom-f438722c83856031aa7e9163890669be29a0ad75-s700-c85.jpg" alt="huffingtonpost"/>
            </div>
            </md-card-title-media>
        <card-actions layout="row" layout-align="end center">
        <button class="md-icon-button" class="md-raised" flex="auto"><a href='http://www.bbc.com/news/world-us-canada-35823234'>Read Article</button></a>
        </card-actions>
      </md-card>

  <div flex-xs flex-gt-xs="50" layout="column">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">We’ve Forgotten About India’s Rape Crisis</span>
            <span class="md-subhead">Neesha Arter</span>
          </md-card-title-text>
        </md-card-title>
            <md-card-title-media>
            <div class="md-media-xl card-media">
              <img src="http://cdn.thedailybeast.com/content/dailybeast/articles/2015/04/21/we-ve-forgotten-about-india-s-rape-crisis/jcr:content/image.crop.800.500.jpg/47655206.cached.jpg" alt="huffingtonpost"/>
            </div>
            </md-card-title-media>
        <card-actions layout="row" layout-align="end center">
        <button class="md-icon-button" class="md-raised" flex="auto"><a href='http://www.thedailybeast.com/articles/2015/04/21/we-ve-forgotten-about-india-s-rape-crisis.html'>Read Article</button></a>
        </card-actions>
      </md-card>

        <div flex-xs flex-gt-xs="50" layout="column">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">How we got here: The many attempts to reform immigration, secure the border</span>
            <span class="md-subhead">Daniel González and Dan Nowicki</span>
          </md-card-title-text>
        </md-card-title>
            <md-card-title-media>
            <div class="md-media-xl card-media">
              <img src="http://www.gannett-cdn.com/-mm-/148d81f892245f14e918ab82aaa7b42ef2bb32c1/c=581-0-5177-3456&r=x404&c=534x401/local/-/media/2016/01/20/Phoenix/Phoenix/635889021320928605-PNIBrd2-12-29-2015-Republic-1-A012-2015-12-28-IMG-Border-fence-2-jpg-1-1-UOD0GPJD-L735139245-IMG-Border-fence-2-jpg-1-1-UOD0GPJD.jpg" alt="huffingtonpost"/>
            </div>
            </md-card-title-media>
        <card-actions layout="row" layout-align="end center">
        <button class="md-icon-button" class="md-raised" flex="auto"><a href='http://www.usatoday.com/story/news/politics/elections/2016/03/14/how-we-got-here-many-attempts-reform-immigration-secure-border/81658870/'>Read Article</button></a>
        </card-actions>
      </md-card>

              <div flex-xs flex-gt-xs="50" layout="column">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">These 5 Facts Explain the Good News About Africa</span>
            <span class="md-subhead">Ian Bremmer</span>
          </md-card-title-text>
        </md-card-title>
            <md-card-title-media>
            <div class="md-media-xl card-media">
              <img src="https://timedotcom.files.wordpress.com/2016/03/africa-technology.jpg?quality=75&strip=color&w=550" alt="huffingtonpost"/>
            </div>
            </md-card-title-media>
        <card-actions layout="row" layout-align="end center">
        <button class="md-icon-button" class="md-raised" flex="auto"><a href='http://time.com/4246821/these-5-facts-explain-the-good-news-about-africa/'>Read Article</button></a>
        </card-actions>
      </md-card>
</main>

